// COLORS

$color-blue-transparent: #35a5fb88;
$color-blue-dark-transparent: #035ba383;
$color-gray-dark-transparent: rgba(219, 219, 219, 0.603);
$color-black-transparent: #0808087e;

$color-red: #e90d0dcc;
$color-white: #fff;
$color-black: #080808;
$color-gray: rgb(219, 208, 208);
$color-error: rgb(163, 45, 45);

$color-primary-light: #35a4fb;
$color-black-light: #00000073;
$color-white-light: rgba(255, 253, 253, 0.767);

$color-secondary-dark: #035ca3;
$color-blue-dark: #024376;
$color-white-dark: #ffffff;
$color-gray-dark: rgb(167, 161, 161);

$color-gray-12: rgb(233, 227, 227);

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;