<footer class="footer">
  <div class="footer-box-information">
    <h5 class="footer__title">About us</h5>
    <div class="footer__content">
      <p class="paragraph u-text-white">
        Lorem ipsum dolor sit amet consectetur adipiscing elit vel euismod diam, lectus nisl at natoque etiam erat
        blandit id himenaeos.
      </p>
    </div>
  </div>
  <div class="footer-links">
    <h5 class="footer__title">Helpful links</h5>
    <div class="footer__content">
      <ul class="footer__list">
        <li class="footer__item"><a href="#" class="footer__link">Services</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Support</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Tearms & condition</a></li>
        <li class="footer__item"><a href="#" class="footer__link">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-contact">
    <h5 class="footer__title">Contact us</h5>
    <div class="footer__content">
      <div class="footer__form">
        <form action="" class="form">
          <div class="form__group--footer">
            <input id="footer-email" type="email" class="form__input" type="Enter your email"
              placeholder="Enter your email">
            <label for="footer-email" class="form__label u-text-white">Enter your email</label>
          </div>
          <a href="/" class="btns btns--blue">subscribe</a>
        </form>
      </div>
    </div>
  </div>
</footer>
