<!-- <footer>
    <div class="row m-0"> 
        <div class="col text-center pt-5">  -->
            <!-- <p><%= title %></p> -->
        <!-- </div> 
    </div> 
</footer> -->
<footer class="footer">
  <div class="row">
    <div class="col-1-of-3">
      <h5 class="footer__title u-text-uppercase u-center-text u-margin-bottom-small u-text-white">About us</h5>
      <div class="footer__navigation">
        <p class="paragraph u-text-white">
          Lorem ipsum dolor sit amet consectetur adipiscing elit vel euismod diam, lectus nisl at natoque etiam erat
          blandit id himenaeos.
        </p>
      </div>
    </div>
    <div class="col-1-of-3">
      <h5 class="footer__title u-text-uppercase u-center-text u-margin-bottom-small u-text-white">Helpful links</h5>
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Services</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Support</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Tearms & condition</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-3">
      <h5 class="footer__title u-text-uppercase u-center-text u-margin-bottom-small u-text-white">Contact us</h5>
      <div class="footer__navigation">
        <div class="footer__form">
          <form action="" class="form">
            <div class="form__group">
              <input id="footer-email" type="email" class="form__input" type="Enter your email"
                placeholder="Enter your email">
              <label for="footer-email" class="form__label u-text-white">Enter your email</label>
            </div>
            <a href="" class="btn btn--blue">subscribe</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>