/* Desktop Main Menu Color */

.wsmainfull {
  background-color: #fff;
}

.wsmenu>.wsmenu-list {
  background-color: #fff;
}

/* Mobile Header */

.wsmobileheader {
  background-color: #fff;
}

.wsmenu>.wsmenu-list>li>a {
  color: #333;
}

.wsmenu>.wsmenu-list>li>a .wsarrow:after {
  border-top-color: #b3b3b3;
}

.wsmenu>.wsmenu-list>li>a:hover .wsarrow:after {
  border-top-color: #fff;
}

.wsmenu>.wsmenu-list>li>a.active .wsarrow:after {
  border-top-color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>a .wsarrow:after {
  border-top-color: #fff;
}

.wsmenu>.wsmenu-list>li>a>.fa {
  color: #55606c;
}

.wsmenu>.wsmenu-list>li>a.active .fa {
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>a>.fa {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>a:hover .fa {
  color: #fff;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="submit"] {
  background-color: #e50630;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .menu_form input[type="button"] {
  background-color: #e50630;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>a.active {
  background-color: #e50630;
  color: #fff;
}

.wsmenu>.wsmenu-list>li:hover>a {
  background-color: #e50630;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {
  background-color: #e50630;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {
  background-color: #e50630;
  color: #fff;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li:hover a {
  background-color: #e50630;
  color: #fff;
}