.footer {
  background-image: linear-gradient(314.42deg, $color-blue-dark 0%, $color-black 100%);
  padding: 5rem 0;
  font-size: 1.7rem;
  
  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 200;
    display: inline-block;
    color: $color-white;
    padding: 2rem 1rem;
  }
  
  &__navigation {
    // padding-top: 2rem;
    padding: 2rem 1rem;
    border-top: 0.1px solid $color-white;
  }
  &__list {
    list-style-type: none;
  }
  &__item {
    // display: inline-block;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    font-size: 1.75rem;

    @include responsive(table-port){
      font-size: 2rem;

    }
  }
  &__link {
    color: $color-gray;
    transition: all .3s ease-in;
    &:link,
    :visited {
      text-decoration: none;
      color: $color-gray;
      display: inline-block;
    }
    &:hover,
    &:active {
      color: $color-white;
    }
  }
  &__form{
    
  }
}