.navigation {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    @include responsive(phone) {
      flex-direction: row-reverse;
      align-items: flex-start;
    }
  }
  &__logo {
    height: 8rem;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: visibility 0s, opacity 0.5s linear;

    @include responsive(phone) {
      
      // visibility: hidden;
      // opacity: 0;
      background-color: $color-black-light;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      left: -30rem;
      transition: all 1s ease-in-out;
    }
  }

  &__item {
    font-size: 2rem;
    color: $color-white;
    margin: 1rem 2rem;
    @include responsive(phone) {
      margin: 4rem 8rem;
    }
  }
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-white;
  }

  &__handler {
    display: none;
    font-size: 2rem;
    color: $color-white;
    @include responsive(phone) {
      background: $color-blue-dark-transparent;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 2rem;
    }
  }
}
