.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 8rem;
  }

  &__nav {
    // background-color: #fff;
    // width: auto;
    display: flex;
    align-items: stretch;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: 3rem;
    list-style: none;
    text-align: left;
  }

  &__item {
    margin: 1rem;
    // border-bottom: .1rem solid $color-white;

    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
    background-size: 250%;
    transition: all 0.2s ease-in;
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-black;
    }
  }
  &__link {
    &:link,
    &:visited {
      display: flex;
      justify-content: center;
      font-size: 2.5rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 250%;
      transition: all 0.2s ease-in;

      span {
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-black;
    }
  }
}
