$main-color: #0A274F;
$main-bg: #ECECEC;
$main-font-color: #0A274F;
$main-bg-translucid: rgba(11, 111, 255, 0.8);
$light-color: #ECECEC;
$color1: rgba(11, 111, 255, 1);
$color2: rgba(11, 111, 255, 1);
$color3: rgba(11, 111, 255, 1);
$color4: rgba(11, 111, 255, 1);
$color5: rgba(11, 111, 255, 1);
$color6: rgba(11, 111, 255, 1);
