.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  @include responsive(table-port) {
    flex-direction: column;
  }
}
.card {
  // background-image: linear-gradient(to right bottom, $color-blue-transparent, $color-blue-dark-transparent),
  //   url(https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521_1280.jpg);
  // background-size: cover;
  border-radius: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  font-size: 1.5rem;
  padding: 2rem 4rem;
  margin: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, $color-blue-transparent, $color-blue-dark-transparent);
  transition: all 1s ease-out;
  width: 100%;
  align-self: stretch;
  height: 35rem;
  
  @include responsive(table-port) {
    margin-bottom: 2rem;
  }

  &__title{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 2s ease-out;
  }
  &__description{
    // display: none;
    transition: all 1s ease-out;
    opacity: 0;
    display: none;
    text-align: justify;
  }

  &:hover {
    background-color: $color-primary-light;
  }

  &:hover &__title{
    opacity: 0;
    display: none;
    
  }

  &:hover &__description{
    opacity: 1;
    display: flex;
    transition: all 2s ease-out;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
