.collapsible {
  cursor: pointer;
  padding: 2.5rem 5rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  height: auto;
  background-color: $color-gray-dark-transparent;
  font-size: 1.5rem;
  font-weight: 300;

  /* Style the collapsible content. Note: hidden by default */
  &__content {
    display: none;
    overflow: hidden;
    text-align: left;
    width: 100%;
    font-size: 2rem;
    padding: 3rem 2rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1rem 2rem rgba($color-black, $alpha: 0.2);

    @include responsive(table-port) {
      flex-direction: column;
    }

    &--left {
      width: 100%;
      margin: 2rem 3rem;
      align-self: stretch;
      border-right: 2px solid $color-gray-dark;
      @include responsive(table-port) {
        width: auto;
        border: hidden;
      }
    }
    &--right {
      width: 100%;
      margin: 2rem 3rem;
      align-self: stretch;
      @include responsive(table-port) {
        width: auto;
      }
    }
  }
}

.collapse {
  &-container {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    @include responsive(phone) {
      display: block;
    }
  }

  &__title {
    font-weight: 400;
    flex-basis: 25%;
  }
  &__description {
    font-weight: 200;
  }
}
