.dropdown {
  position: relative;
  display: inline-block;
  background-color: transparent;
  color: $color-black;
  padding: 1rem;
  width: 50%;
  text-align: center;


  &-content {
    display: none;
    position: absolute;
    top: 4rem;
    left: 1rem;
    background-color: $color-white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    // padding: 12px 16px;
    z-index: 1;

    &:hover {
      display: inline-block;
    }

    &__item {
      display: block;
      text-decoration: none;
      padding: 1rem 0.5rem;
      :not(:last-child) {
        margin-bottom: 1rem;
      }
      color: $color-black;
      &:hover {
        background-color: $color-gray-dark-transparent;
        // color: $color-white;
      }
    }
  }
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content,
.dropdown:focus .dropdown-content {
  display: inline-block;
  color: $color-black;
  font-size: 1.8rem !important;
}


.dropdown-menu{
  font-size: 1.8rem;
}