.feature-box{
  background-image: linear-gradient(to right bottom, $color-blue-transparent, $color-blue-dark-transparent);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-white, .15);
  &__text{

  }
}