.button-container {
  padding: 1rem 2rem;
}
.form {
  // padding: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  &-container {
    width: 100%;
    order: 0;
  }
  &-title-container {
    width: 100%;
  }

  &__group:not(:last-child) {
    width: 100%;
    padding: 0.5rem 2rem;
  }
  &__input {
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background-color: rgba($color-white, 0.9);
    border: none;
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    transition: all 0.3s;

    @include responsive(table-land) {
      width: 100%;
    }
    @include responsive(phone) {
      font-size: 1.5rem;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary-light;
    }
    &:focus:invalid {
      border-bottom: 3px solid $color-error;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark;
    }
  }

  &__label {
    color: $color-black;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    display: block;
    transition: all 0.3s;
    @include responsive(phone) {
      font-size: 1.5rem;
    }
  }

  &__label__spacing {
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    display: block;
    @include responsive(phone) {
      font-size: 1.5rem;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-4rem);
  }

  &__label__error {
    color: #dc3545;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #dc3545;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    display: block;
    border-style: solid;
    padding: 0rem 2rem;
    // width: 80%;
    // margin: 1rem 0rem;;
    // transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms;
    @include responsive(phone) {
      font-size: 1.5rem;
    }
  }

  &__label__succeses {
    color: $color-primary-light;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid $color-primary-light;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    display: block;
    border-style: solid;
    padding: 0rem 2rem;
    // width: 80%;
    // margin: 1rem 0rem;;
    // transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms;
    @include responsive(phone) {
      font-size: 1.5rem;
    }
  }
}

.form-group{
  textarea.form-control,
  option.form-control,
  input.form-control,
  select.form-control{
    font-size:1.6rem!important;
  }
}
