<header>
    <!-- Mobile Header -->
    <div class="wsmobileheader clearfix ">
        <a role="link" id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
        <span class="smllogo"><img src="<%= logo %>" width="170" alt="<%= title %> Logo" title="<%= title %> Logo" loading="lazy"></span>
        <a role="link" class="callusbtn ursor">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>
    </div>
    <!-- Mobile Header -->

    <div class="wsmainfull clearfix dark">
        <div class="wsmainwp clearfix">
            <div class="desktoplogo">
                <a routerLink="/">
                    <img src="<%= logo %>" alt="<%= title %> Logo"  title="<%= title %> Logo" loading="lazy">
                </a>
            </div>
            <!--Main Menu HTML Code-->
            <nav class="wsmenu clearfix dark">
                <ul class="wsmenu-list">
                    <li aria-haspopup="true">
                        <a routerLink="/home">
                            Home <span class="fa fa-angle-down"></span>
                        </a>
                        <div class="wsmegamenu clearfix">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-xs-12 mr-auto">
                                        <ul class="col-lg-4 col-md-12 col-xs-12 link-list">
                                            <li>
                                                <a [routerLink]="'/home'" (click)="clickLink();">
                                                    Sub Option
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <% if(auth) { %>
                    <li *ngIf="!this.stateService.state.isLogged">
                        <a routerLink="/auth/login">
                            <i class="fa fa-user"></i>
                            Login
                        </a>
                    </li>
                    <li *ngIf="this.stateService.state.isLogged">
                        <a (click)="this.authenticationService.signOut()">
                            <i class="fa fa-user"></i>
                            Logout
                        </a>
                    </li>
                    <li *ngIf="!this.stateService.state.isLogged">
                        <a routerLink="/auth/register">
                            <i class="fa fa-user"></i>
                            Register
                        </a>
                    </li>
                    <li *ngIf="this.stateService.state.isLogged">
                        <a routerLink="/auth/profile">
                            <i class="fa fa-user"></i>
                            Profile
                        </a>
                    </li>
                    <% } %>
                    <li>
                        <a role="link">
                            <i class="fa fa-search "></i>
                            Search
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>